

/*created by online student .ie*/

body,
h1,h2,h3,h4,h5,h6,
p,
ul,li,nav,
fieldset, legend,textarea,
section,
button,
a,
span,
small
{
    padding: 0;
    margin: 0;   
}

ody, tml{
    box-sizing: border-box;
}
body{
    osition: relative;
}

.UNDER-CONSTRUCTION{
    width: 50%;
    height: 50vh;
    background-color: rgba(169, 169, 169, 0.5);

    color: red;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}


section.header-wrapper{
    max-width: 1700px;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    background-color: green;

    order: 1px solid black;
    padding: 5px;


    box-sizing: border-box;
}

h2.Formula-News{
  background-color: red;
  margin: 20px 0px;
  text-align: center;
  color: white;
}

.Formula-News span{
    color: red;
    order: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    font-weight: 900;
    padding: 0px 10px;
}


header.Day4-header{
    eight: 20px;
    ont-family: 'Bevan', serif;
    ont-family: 'Black Ops One', system-ui;

    font-size: 50px;
    ont-family: 'Big Shoulders Stencil Text', sans-serif;
    background-color: orange;
    text-align: center;

    padding: 5px;

    position: relative;

ox-sizing: border-box;

    
}

header.Day4-header h1{
    height: 70px;
    ackground-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;

    font-family: 'Bevan', serif;

    ox-sizing: border-box;
}

header.Day4-header h2{
    ackground-color: lightgreen;
    ont-family: 'Big Shoulders Stencil Text', sans-serif;
    ont-family: 'Black Ops One', system-ui;
    font-size: 10px;
    ext-align: center;
    word-spacing: 5px;
    font-weight: normal;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    ox-sizing: border-box;
}



span.decorative-line{
width: 100px;
height: 1px;
background-color: #000000;

margin-left: 10px;
margin-right: 10px;



isplay: inline-block;
}



ection.header-wrapper{
    width: 200px;
    height: 200px;
    background-color: yellow;
    padding: 15px;
    border: 1px solid black;
    margin: 2px;

    ox-sizing: border-box;

}

header.Day4-header .sign-in{

    position: absolute;
    font-size: 18px;
    width: fit-content;
    height: 20px;
    background-color: green;
    rder: 1px solid black;

    padding: 10px;

    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    cursor: pointer;

    ox-sizing: border-box;
}
div.wrapper{
    width: 100%;
    eight: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ap: 10px;
 
    background-color: red;
    adding: 2px;
    margin-left: auto;

    adding-right: 20px;

    box-sizing: border-box;
}
div.wrapper .special-edition{
    background-color: rgb(182, 94, 182);
    height: 30px;
    flex: 3;
    display: flex;
    align-items: center;
    ustify-content: center;
    text-align: left;

    padding-left: 20px;

    clip-path: polygon(0 0, 100% 0%, 98.4% 100%, 0 100%);
    ox-sizing: border-box;

    font-style: italic;
}



div.wrapper .date{
    background-color: rgb(56, 141, 162);
    height: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);

    lip-path: polygon(10% 0, 100% 0%, 100% 40%, 0 40%);
    ox-sizing: border-box;

    ox-sizing: border-box;

    font-style: italic;

}



.Day4-header{
isplay: inline-block;

}

.logo-image-wrapper{
    background-color: red;
    padding: 5px;
   position: absolute;
   top: 50%;
   left: 10%;
   transform: translate(-50%, -50%);
   

    width: 70px;
    height: 70px;
    background-image: url(https://img.freepik.com/free-vector/abstract-silhouette-sport-logo-flat-design_23-2148220451.jpg?w=740&t=st=1707214503~exp=1707215103~hmac=4254136a557fb997761f86b1ad45068b2f8906ddb68e3980f4f66e371bff6cfc);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    ox-sizing: border-box;
}


.navigation-menu{
    flex: 1;
    idth: 100%;
    height: 40px;
    background-color: gray;

    padding: 5px;
    display: flex;
    align-items: center;
    lex: 1;
}

ul.Day4-ul{
    background-color: gold;
    padding: 3px;
    flex: 1;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

li.Day4-li{
    background-color: rgb(255, 255, 255);
    adding: 3px;
    padding: 5px 25px 0px;
    font-size: 20px;

    ont-family: sans-serif;
    font-family: 'Bebas Neue', sans-serif;


    ext-decoration: 2px underline red;

    border-bottom: 3px solid transparent;

}

li.Day4-li:hover{
    border-bottom: 3px solid red;
    cursor: pointer;
    ransition: transform 0.2s ease-in-out;

    transition: .4s  ease-in-out;

    ransition: 0.3s, 0.3s 0.2s;
    nimation: 1.4s forwards no-hover-v linear;
    nimation-fill-mode: forwards;

}



/*Main START Formula 1 section ----------------------------------------*/

section.main-section-wrapper{
    width: 80%;
    margin: 0 auto;
    rder: 2px solid rgb(163, 8, 8);
    background-color: #98ff7c;
    padding: 5px;
    dding: 10px;
}

main.main{
background-color: orange;
display: flex;
gap: 20px;
padding: 5px;
}

aside.left{
    min-height: 500px;
    background-color: #2b2264;
    rder: 10px solid black;
    ox-sizing: border-box;
    flex: 2;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

article.right{
    min-height: 500px;
    background-color: #fefffe;
    padding: 5px;
    rder: 1px solid black;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}


aside-nested-bottom{
    display: flex;
    gap: 20px;
    background-color: #fff;
    
  }
  
  aside-nested-bottom_items{
      background-color: #797979;
  }
  
  
  article.right .article-wrapper{
      background-color: #c2c2c2;
      padding: 10px;
      border-radius: 5px;
  }
  
  .article-wrapper h2{
      text-decoration: underline;
      text-decoration-color: rgb(252, 20, 20);  
  }
  
  .article-wrapper p{
      text-indent: 20px;
  }



aside .aside-nested-top{
    height: 65%;
    idth: 100%;
    background-color: red;
    padding: 5px;

    display: flex;
    gap: 20px;

    rder: 10px solid white;
}

aside .aside-nested-bottom{
    box-sizing: border-box;
    rder: 10px solid rgb(99, 198, 7);
    height: 45%;
    background-color: #fbfb3c;

    display: flex;
    gap: 20px;

}
.aside-nested-bottom_items{
   idth: 100%;
   eight: 100%;
    background-color: #fff;
    flex: 1;

    display: flex;
    flex-direction: column;
    
  }

  .image-photo-1{
    idth: 100%;
    height: 150px;
    eight: 100%;
      background-image: url( https://cdn-wp.thesportsrush.com/2021/05/765b234f-blue-and-white-calm-education-youtube-thumbnail-80.jpg?w=1920&q=60 );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border-radius: 5px;
    }
    .image-photo-2{
        idth: 100%;
        height: 150px;
        eight: 100%;
          background-image: url( https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2017/11/29/Pictures/f1-grand-prix-of-great-britain_8fb4feb2-d4ce-11e7-ad30-e18a56154311.jpg );
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
    
          border-radius: 5px;
        }
    .image-photo-3{
        idth: 100%;
        height: 150px;
        eight: 100%;
          background-image: url( https://noticias.coches.com/wp-content/uploads/2016/04/pit-stop-F%C3%B3rmula-1.jpg );
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
    
          border-radius: 5px;
        }
    .image-photo-4{
        idth: 100%;
        height: 150px;
        eight: 100%;
          background-image: url( https://1.bp.blogspot.com/-bVasVKOeA6U/UJAAdd12RqI/AAAAAAAAKD0/hKKR1QV_cbE/s400/formula-one-pit-stop.jpg );
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
    
          border-radius: 5px;
        }


    .aside-nested-bottom_items p{
        height: 60%;
        idth: 100%;
        text-align: start;

        background-color: pink;
        margin-top: auto;
        padding: 10px;
        font-family: serif;

        olor: #98ff7c;
    }


.nested-left{
    flex: 2;
    background-color: rgb(234, 84, 214);

    background-image: url( https://cdn-3.motorsport.com/images/amp/01W3n4DY/s700/max-verstappen-red-bull-racing.webp );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    
    ext-align: center;
    ext-align: end;
}

.nested-left p {
    background-color: black;
    color: white;
    background-color: transparent;
    padding: 10px;
    font-weight: 700;
}

.nested-right{
    flex: 1;
    background-color: #0ca82b;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.nested-right_top{
    background-color: yellow;
    order: 1px solid black;
    height: 50%;

    background-image: url(https://onestopracing.com/wp-content/uploads/2022/02/How-Many-Calories-Do-Formula-1-Drivers-Burn-00.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.nested-right_top p{
    color: rgb(255, 255, 255);
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.5);

    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    ext-shadow: 0px 0px 14px rgba(0,0,0,1);
}

.nested-right_bottom{
    background-color: rgb(167, 167, 79);
    order: 1px solid black;
    height: 50%;

    background-image: url( https://img.freepik.com/premium-photo/portrait-f1-driver-wearing-helmet-formula-one-pilot-standing-race-track-after-competition_777271-15995.jpg?w=996 );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.nested-right_bottom p{
    color: rgb(255, 255, 255);
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.5);

    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/*Main END Formula 1 section----------------------------------------*/


/*Golf section Start ----------------------------------------*/

section.Golf-section-wrapper{
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    rder: 2px solid rgb(163, 8, 8);
    background-color: #347c20;
    padding: 5px;
    dding: 10px;
    margin-bottom: 100px;

    display: flex;
    gap: 20px;
}

h2.h2-Golf-News{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0e3630;
    text-align: center;
    color: #ffa300;
    rder: 1px solid  #ffa300;
    word-spacing: 5px;
}


/*golf left*/
section .golf-left{
    flex: 3;
    background-color: #fff;

    background-image: url(https://media.wired.com/photos/5d02e940c521b84861088eea/master/pass/science_golf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    adding-top: 100%;

    display: flex;
    flex-direction: column;

    adding: 10px;
}



div.golf-left article {
    background-color: orange;
    isplay: flex;
    margin-top: auto;
    color: white;

    padding: 10px;
}

div.golf-left article h3{
    font-size: 30px;
}

div.golf-left article p{
    ont-size: 30px;
    font-weight: 700;

}
/*left end*/



/*right start*/
section .golf-right{
    flex: 1;
    background-color: #898989;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.golf-right_items-1,
.golf-right_items-2,
.golf-right_items-3
{
    flex: 1;
    width: 100%;
    background-color: #fff;
}

.golf-right_items-1{
    background-image: url(https://i.ytimg.com/vi/G-e5rBLC0Q8/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.golf-right_items-1 p{
    width: fit-content;
    background-color: orange;
    padding: 5px;
    color: #ffffff;
    font-weight: 700;
}

.golf-right_items-2{
    background-image: url( https://wallpaperset.com/w/full/9/c/3/78575.jpg  );
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
    }

  

    .golf-right_items-3{
    background-image: url(  https://images.alphacoders.com/481/481997.jpg );
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .golf-right > div > p {
        width: fit-content;
        background-color: orange;
        padding: 5px;
        color: #ffffff;
        font-weight: 700;

    }

/*golf interview START*/


section.golf-interview-section{
    background-color: lightgoldenrodyellow;
    padding: 5px;


    width: 80%;
    eight: 1000px;
    margin: 0 auto;
  

    display: flex;
    flex-direction: column;
}

header.header-interview {
    background-color: #0e3630;
    padding: 5px;

    color: orange;
}

header.header-interview h4 {
    color: rgb(181, 181, 181);
}

main.interview-QA {
    width: 70%;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 5px;
}


main.interview-QA .reporter-header{
    background-color: red;
    padding: 5px;

    ax-width: 220px;
    width: 100%;

    idth: 90%;
    in-height: 200px;

    display: flex;
    align-items: center;
    ustify-content: center;

    ox-sizing: border-box;
}  

.reporter-img{
    width: 50px;
    height: 50px;
    background-color: yellow;

    background-image: url( https://img.freepik.com/free-vector/smiling-cartoon-girl-face-illustration_1308-160233.jpg?w=740&t=st=1707400477~exp=1707401077~hmac=1c89ce631ea3941807e0cb283607f1e45441443e3471c4e10d6ac26becd704e2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}

.reporter-name {
    background-color: #fff;
    padding: 5px;
    isplay: flex;
    idth: fit-content;
    idth: max-content;
    eight: fit-content;
    margin-left: 10px;
    ord-wrap: none;
    white-space: nowrap;
}

ain.interview-QA reporter-wrapper{
    background-color: green;
    padding: 5px;

    width: 80%;
    min-height: 200px;
}


main.interview-QA .winner-header{
    background-color: rgb(236, 144, 144);
    padding: 5px;

    ax-width: 220px;
    width: 100%;

    idth: 90%;
    in-height: 200px;

    display: flex;
    align-items: center;
    ustify-content: center;

    ox-sizing: border-box;
}  

.winner-img{
    width: 50px;
    height: 50px;
    background-color: rgb(129, 129, 38);

    background-image: url( https://img.freepik.com/free-vector/teen-boy-with-smile-face_1308-131594.jpg?w=740&t=st=1707400434~exp=1707401034~hmac=452430a29d382de0afa19d7cd325e9f1f7f59f7e6f4ac4ab1647c5db1c656153);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.winner-name {
    background-color: #fff;
    padding: 5px;
    isplay: flex;
    idth: fit-content;
    idth: max-content;
    eight: fit-content;
    margin-left: 10px;
    ord-wrap: none;
    white-space: nowrap;
}

p.reporter-paragraph {
    max-width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    argin-left: auto;
    margin: 5px auto;
}

p.winner-paragraph {
    max-width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    argin-left: auto;
    margin: 5px auto;
}







/*golf interview END*/


/*Golf section End-------------------------------------------*/



